{% extends 'pages/base.html' %}

{% block content %}

    <div class="card bg-light" >
        <div class="card-body">
            <strong>
            <br>
                &nbsp; &nbsp; 
                {{record.last_name|upper}}
                {{record.first_name}}
            </strong>
            <hr>

            <p> <strong> ID: </strong> {{record.id}}</p>
            <p> <strong> Email: </strong> {{record.email}}</p>
            <p> <strong> Phone Number: </strong> {{record.phone}}</p>
            <p> <strong> Address: </strong> {{record.address}}</p>
            <p> <strong> City: </strong> {{record.city}}</p>
            <p> <strong> Creation Date: </strong> {{record.creation_data}}</p>
        </div>
    </div>

    <br>
    <a href="{% url 'dashboard' %}" class="btn btn-primary"> Return to Dashboard <i class="fa fa-sign-out" aria-hidden="true"></i></a>
    &nbsp;
    <a href="{% url 'update_record' record.id %}" class="btn btn-info"> Update Record <i class="fa fa-refresh" aria-hidden="true"></i></a>
    &nbsp;
    <a href="{% url 'delete-record' record.id %}" class="btn btn-danger"> Delete <i class="fa fa-trash" aria-hidden="true"></i> </a>


{% endblock %}